<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="PATTERN">%d{DEFAULT} - [%-5t] - %30.30M:%-3L - [%X{tokenKey}] - %m - %c{1.} %n</Property>
        <Property name="FILE_NAME">/Users/duongtrong/Developers/Coder/connection/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile
                name="rollBySizeInfo"
                fileName="${FILE_NAME}/connection.log"
                filePattern="${FILE_NAME}/%d{yyyy-MM}/connection.log" append="true">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile
                name="rollBySizeError"
                fileName="${FILE_NAME}/connection-error.log"
                filePattern="${FILE_NAME}/%d{yyyy-MM}/connection-error.log" append="true">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="vn.vnpay.connection" additivity="false">
            <AppenderRef ref="rollBySizeInfo"/>
            <AppenderRef ref="rollBySizeError"/>
            <AppenderRef ref="Console"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>